body {
    font: 15px sans-serif;
    background: #cef;
    max-width: 460px;
    margin: 8px; 
}
.button {    
    border-radius: 10px; 
    margin: 4px;
    padding: 4px;
}
.button:hover {
    background: navy;
    color: #cef;
}
li {
    margin: 10px;
}
a {
    text-decoration:none;
}
#info {
    position: relative;
    width: 192px;
    aspect-ratio: 2;
    background: gray;
    margin-top: 4px;
    border: 2px solid navy;
}
#ava, #pro, #git {
    position: absolute;
}
#ava {
    width: 50%;
}
#pro, #git {
    text-align: center;
    cursor: pointer;
    width: 40%;
    right: 0;
}
#pro {
    top: 12px;
}
#git {
    bottom: 12px;
}
